

.poke_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 108px;
    min-height: 108px;
    border-radius: 8px;
    background-color: var(--background_general);
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 1px #00000033;
    border: none;
    cursor: pointer;
  }

  .poke_list img {
    max-width: 80px;
    height: auto;
    margin-bottom: 8px;
    position: relative;
    z-index: 1; /* A imagem ficará acima do fundo */
    align-self: center; /* Centraliza horizontalmente */
  }

  .poke_list h3 {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: var(--color_text1);
    margin: 0; /* Remove qualquer margem adicional */
    }

    .number_list {
        position: absolute; /* Sai do fluxo normal para não empurrar os outros elementos */
        top: 0; /* Fixa no topo */
        left: 0; /* Alinha à esquerda */
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 104px; /* Ajuste conforme necessário */
        height: 16px;
        padding-top: 4px;
        padding-right: 8px;
        padding-left: 8px;
        gap: 8px;
        box-sizing: border-box;
      }
      
      .number_list span {
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: 0;
        text-align: right;
        vertical-align: middle;
        color: var(--color_text2); 
      }

      .footer_list {
        width: 100%;
        height: 44px; /* Altura do fundo */
        background: var(--background_footer_card);
        box-sizing: border-box;
        position: absolute;
        border-radius: 7px;
        padding-top: 24px;
        padding-right: 8px;
        padding-bottom: 4px;
        padding-left: 8px;
        bottom: 0; /* Fica na parte inferior do card */
        left: 0;
        z-index: 0; /* Fundo fica abaixo da imagem */
      }