


@charset "UTF-8";

@import './responsive.css';
@import './variables.css'; 
@import './keyframes.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



  body {
    margin: 0;
    padding: 0;
    background-color: var(--background_interface);
  }

  body, input, textarea, button, select {
    font-family: var(--font-prin);
  }


  /* INDEX */
  /* TESTE */
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden; /* impede que o conteúdo estourado do zoom gere scroll */
}



  

 















