
@charset "UTF-8";

@import './variables.css'; 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


  body {
    margin: 0;
    padding: 0;
    background-color: var(--background_interface);
  }

  body, input, textarea, button, select {
    font-family: var(--font-prin);
  }
  
  /* INDEX */
  .wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    box-sizing: border-box;
  }
  

 
  
  .header {
    width: 100%; /* FILL → Ocupará toda a largura disponível do contêiner pai */
    height: auto; /* HUG → Ajusta conforme o conteúdo */
    min-height: 108px; /* Define um tamanho mínimo baseado no Figma */
    box-sizing: border-box;
    display: flex; /* Para organizar os elementos internos */
    flex-direction: column; /* Coloca os filhos um abaixo do outro */
    gap: 8px; /* Espaçamento entre os elementos internos */
    padding: 12px 12px 24px 12px; /* padding-top right bottom left */
  }
  
  .partA_header,
  .partB_header {
    width: 100%; /* Ocupar toda a largura do contêiner pai */
    max-width: 328px; /* Garante que não passe de 328px */
    height: auto; /* Ajusta conforme o conteúdo */
    max-height: 32px; /* Define um tamanho máximo baseado no Figma */
    display: flex; /* Mantém os elementos na mesma linha */
    align-items: center; /* Centraliza verticalmente */
    gap: 16px; /* Espaçamento entre os elementos */
    /* Centraliza as divs pai dentro do contêiner */
    margin-left: auto;
    margin-right: auto;
  }

  .partA_header img {
    width: 24px;
    height: 24px;
  }
  
  .partA_header h1 {
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0%;
vertical-align: middle;
    color: white;
  }

  .input_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 280px;
  }
  
  .input_container input {
    width: 100%;
    max-width: 280px;
    height: auto;
    max-height: 32px;
    gap: 8px;
    padding: 8px 16px 8px 32px; /* Espaço para o ícone da lupa */
    border-radius: 16px;
    background: white; 
    box-shadow: inset 0px 1px 3px 1px #00000040;
    border: none;
    outline: none;
  }
  
  .input_container ::placeholder {
    color: var(--color_text2);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
  }
  
  .search_icon {
    position: absolute;
    margin-top: 3px;
    left: 10px;
    font-size: 18px;
    color: var(--color_prin);
  }
  
  .input_close {
    position: absolute;
    right: 0px;
    width: 36px;
    height: 32px;
    padding: 8px 12px 8px 8px;
    box-sizing: border-box;
    cursor: default;
  
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    transition: opacity 300ms ease-out, transform 300ms ease-out;
  }
  
  .input_close.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
  
  .close_icon {
    font-size: 18px;
    font-weight: 300;
    color: var(--color_prin);
  }
  


  .circle {
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 8px; 
    border-radius: 16px;
    border: none;
    background: white;
    box-shadow: 0px 1px 3px 1px #00000040 inset;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box; /* Faz o padding não aumentar o tamanho total */
animation-timing-function: ease-in;
animation-duration: 300ms;
}

.back_sort_header {
  width: 16px; /* Ajuste a largura para um tamanho adequado */
  height: 16px; /* Ajuste a altura para um tamanho adequado */
}

.back_sort_header span {
  margin-top: 0.5px;
  margin-left: 0.5px;
  font-size: 16px;
  color: var(--color_prin);
}

.dropdown_box {
  z-index: 3;
  width: 113px;
  height: 132px;
  position: absolute;
  top: 125%; /* Ajuste conforme necessário */
  right: 0;
  border-radius: 12px;
  padding: 4px;
  background: var(--color_prin);
  box-shadow: 0px 3px 12px 3px #00000033;
  display: none; /* Para esconder por padrão */ 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Máscara preta com opacidade */
  z-index: 2; /* Certifica que está acima do conteúdo */
}

.dropdown_container {
  position: relative;
}

.dropdown_container .dropdown_box {
  display: block; /* Apenas quando a lógica do React ativa */
}




/* Parte de cima (header) dentro da dropdown */
.dropdown_header {
  height: 48px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}


.dropdown_title {
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
color: white;
}

/* Parte de baixo: a caixa que segura os rádios */
.dropdown_options {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
height: 83px;
border-radius: 8px;
padding-top: 16px;
padding-right: 20px;
padding-bottom: 16px;
padding-left: 20px;
gap: 16px;
box-sizing: border-box;
background: var(--background_general);
box-shadow: 0px 1px 3px 1px #00000040 inset;
}

/* Estilo de cada opção de rádio */
.dropdown_option {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px; /* Espaçamento entre o seletor de rádio e o texto */
  transition: all 0.3s ease-in; /* Transição suave para a mudança de estado */
}

/* Estilo do rádio (círculo) */
.radio_button {
  width: 13.53px;
  height: 13.53px;
  border-radius: 50%; /* Forma redonda */
  border: 2px solid var(--color_prin); /* Borda branca */
  position: relative; /* Para posicionar o indicador de seleção dentro */
  display: flex;
    align-items: center;
    justify-content: center;

}

/* Indicador de seleção (quando o rádio é selecionado) */
.selected_indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color_prin); /* Cor do indicador */
  position: absolute;
  
}

/* Texto das opções (Number e Name) */
.option_text {
  font-weight: 400;
  font-size: 10px;
  margin-top: 1px;
  line-height: 16px;
  letter-spacing: px;
  color: var(--color_text1);

}




 
  
  
  .pokemon_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 108px;
    min-height: 108px;
    border-radius: 8px;
    background-color: var(--background_general);
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 1px #00000033;
    border: none;
    cursor: pointer;
  }
  

  .number_card {
    position: absolute; /* Sai do fluxo normal para não empurrar os outros elementos */
    top: 0; /* Fixa no topo */
    left: 0; /* Alinha à esquerda */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 104px; /* Ajuste conforme necessário */
    height: 16px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    gap: 8px;
    box-sizing: border-box;
  }
  
  .number_card span {
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0;
    text-align: right;
    vertical-align: middle;
    color: var(--color_text2); 
  }
  




  
  .pokemon_card img {
    max-width: 80px;
    height: auto;
    margin-bottom: 8px;
    position: relative;
    z-index: 1; /* A imagem ficará acima do fundo */
    align-self: center; /* Centraliza horizontalmente */
  }
  
  
  .pokemon_card_footer {
    width: 100%;
    height: 44px; /* Altura do fundo */
    background: var(--background_footer_card);
    box-sizing: border-box;
    position: absolute;
    border-radius: 7px;
    padding-top: 24px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    bottom: 0; /* Fica na parte inferior do card */
    left: 0;
    z-index: 0; /* Fundo fica abaixo da imagem */
  }
  

.pokemon_card h3 {
  
font-weight: 400;
font-size: 10px;
line-height: 16px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
color: var(--color_text1);
margin: 0; /* Remove qualquer margem adicional */

}

/* .pokemon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing_unit);
  padding: var(--spacing_unit);
  width: 100%;
} */
  
  /* .pokemon-detail {
    background-color: var(--background_card);
    border-radius: 8px;
    padding: var(--spacing_large);
    margin: var(--spacing_unit);
    box-shadow: var(--shadow-heavy);
    max-width: 400px; 
    margin: 0 auto;
  }
  
  .pokemon-detail img {
    max-width: 200px; 
    height: auto; 
  }
  
  .pokemon-detail h1 {
    font-size: 24px;
    color: var(--color_text);
    margin: 0 0 var(--spacing_unit) 0;
  } */




  
 
  
  
  


  @keyframes fadeInSlide {
    from {
      opacity: 0.5;;
    }
    to {
      opacity: 1;
    }
  }
  
  .animated_title {
    animation: fadeInSlide 0.3s ease-in-out;
  }
  
  @keyframes growOut {
    from {
      opacity: 1;;
    }
    to {
      opacity: 0;
    }
  }
  
  .exit_effect {
    animation: growOut 0.3s ease-in-out forwards;
  }


  
  .chevron_detail {
    position: relative;
    width: 352px;
    height: 144px;
    margin: auto;
    box-sizing: border-box;
  }
  
  /* Ícones absolutos nos cantos inferiores */
  .chevron_detail button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
  
    position: absolute;
    bottom: 16px;
    font-size: 24px;
    color: white;
    font-weight: 200;
    filter: drop-shadow(0px 1px 3px #00000033);
    width: 6.5px;
    height: 11.42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  
  /* Posicionamento lateral */
  .chevron_left_detail {
    left: 30px;
    margin-bottom: 10px;
  }
  
  .chevron_right_detail {
    right: 30px;
    margin-bottom: 10px;
  }




@keyframes fromCenter {
  from {
    transform: translateX(20px);
 
  }
  to {
    transform: translateX(0);

  }
}

@keyframes toCenter {
  from {
    transform: translateX(0);

  }
  to {
    transform: translateX(100px);

  }
}

.animate_from_center {
  animation: fromCenter 0.4s ease-out forwards;
}

.animate_to_center {
  animation: toCenter 0.4s ease-in forwards;
}












.background_about {
  position: relative; /* necessário pra que os filhos com position:absolute funcionem */
  background-color: var(--background_general);
  width: 352px;
  height: 415px;
  padding: 56px 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
  box-sizing: border-box;
  margin: auto;
  overflow: visible; /* garante que a imagem possa “sair” da div */
}

.img_poke_detail {
  position: absolute;
  top: -140px; /* sobe a imagem */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.img_poke_detail img {
  width: 200px;
  height: 200px;
  filter: drop-shadow(0px 1px 3px #00000033);
}


.badge_about {
  width: 312px;
  margin: 0 auto; /* Centraliza o bloco na tela */
}

.badge_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os badges horizontalmente */
  gap: 8px; /* Espaço entre os badges */
}

.h2_about {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  }
















.attribute_about {
  width: 312px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  /* Impede expansão */
  max-width: 312px;
  min-width: 312px;
  max-height: 48px;
  min-height: 48px;

  overflow: hidden; /* esconde conteúdo que tentar ultrapassar */
}


.div_attribute {
  /* border: 1px solid black; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}


.div_attribute h3 {
  margin-top: auto;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: var(--color_text2);
}



.header1_div_attribute, .header2_div_attribute {
  width: 103.33px;
  height: 32px;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  display: flex;               /* coloca o conteúdo em linha */
  align-items: center;         /* centraliza verticalmente */
  justify-content: center;     /* centraliza horizontalmente */
}


.symbol_attribute {
  color: var(--color_text1);
  margin-bottom: 4px;
  width: 16px;
  height: 16px;
}

.weight_attribute {
  
  font-size: 16px;
  font-weight: 300;
}

.straighten_attribute {
  
  font-size: 16px;
  transform: rotate(90deg);
  margin: auto;
  font-weight: 300;
}

.text_header_attribute {
  color: var(--color_text1);
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: justify;
  vertical-align: middle;
}

.text_header_attribute3 {
  color: var(--color_text1);
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.text_header_attribute3.one-line {
  min-height: 32px; /* ou o valor que alinhe visualmente com as outras colunas */
  display: flex;
  align-items: center;
}



.divider_attribute {
  width: 1px;
height: 48px;
background-color: #E0E0E0;
}


.text_about {
  width: 312px;
  height: 60px;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: justify;
  color: var(--color_text1);
}




.basestats_about {
  display: flex;
  flex-direction: column;
  height: 96px;
  justify-content: space-between;
  gap: 0px;
}

.stat_row {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 16px;
}

.label_basestats {
  width: 31px;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  text-align: right;
}

.divider_basestats {
  width: 1px;
  height: 16px;
  background-color: #E0E0E0;
}

.value_basestats {
  color: var(--color_text1);
  width: 23px;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.stat_bar {
  position: relative;
  width: 233px;
  height: 16px;
  display: flex;
  align-items: center;
}

.stat_bar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  opacity: 0.2;
  border-radius: px;
}

.stat_bar_fill {
  position: relative;
  z-index: 1;
  height: 4px;
  background-color: var(--main-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: width 0.3s ease-in-out;
}
