@media screen and (max-width: 1439px) {
  .zoom_container {
    transform: scale(0.93); 
    transform-origin: top;
    margin-top: 3px;
    
  }

  body {
    background-color: rgb(255, 209, 6);
  }
  
}


@media screen and (min-width: 1440px) {
  .zoom_container {
  transform: scale(1.2);
  display: flex;
  align-items: center;
  }

  body {
    overflow: hidden;
    background-color: black;
  }
}

@media screen and (orientation: portrait) {
  .zoom_container {
    margin-top: 40px;
    transform: scale(1);
    margin-right: 5px;
  }

  body {
    background-color: white;
  }
  
}




