@charset "UTF-8";



:root {
    /* COLORS */
    --background_interface: #000000; /* Fundo preto da interface */
    --background_general: white; /* Fundo branco dos cards */
    --background_footer_card: #EFEFEF;
    --color_prin: #dc0a2d; /* Identidade (vermelho do cabeçalho) */
    --color_text1: #1D1D1D; /* Texto escuro */
    --color_text2: #666666; /* Texto claro */

    /* FONTS */
    --font-prin: 'Poppins', sans-serif; ;
  }