

.pokemon_detail_screen {
    user-select: none;
    width: 360px;
    height: 640px;
    margin: auto;
    padding: 4px;
    position: relative; 
    overflow: hidden; 
  }

  .img_pokeball_detail {
    position: absolute;
    padding: 5px;
    right: 0;
    opacity: 0.1; 
    z-index: 0; 
  }
  
  .img_pokeball_detail img {
    width: 205.89px;
    height: 208px;
  }

  .header_detail {
    margin: auto;
    width: 352px;
    height: 76px;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 24px;
padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_detail h1 {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .left_group_detail {
    display: flex;
    align-items: center;
    gap: 8px; 
  }

  .div_arrow_back {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    box-shadow: none; 
  }
  
  .div_arrow_back span {
    font-size: 35px;
    font-weight: 200;
    color: white;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    line-height: 1;
    display: inline-block;
  }

  .number_detail {
    color: white;
font-weight: 700;
font-size: 12px;
line-height: 16px;
letter-spacing: 0px;
vertical-align: middle;
  }

  